.container1 {
  display: flex;
  background-size: 100vh;
  padding-top:170px;
  padding-bottom:190px;
  background-color: rgb(171, 169, 168);
  top:0;
  bottom:0;
  min-height:100%;
  min-width:100%;
}
  
.loginlogo {
  height:200px;
  width:400px;
  margin-top:30px;
  margin-left: 300px;
  margin-right:100px;
  box-shadow: 5px 5px 8px 5px rgba(248, 248, 248, 0.2), 5px 6px 20px 5px rgba(246, 246, 246, 0.19);
}
  
.alert {
  margin-top: 10px;
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.form {
  text-align: center;
  border:1px solid rgb(93, 92, 92);
  margin-top:-50px;
  padding:30px;
  box-shadow: 5px 5px 8px 5px rgba(248, 248, 248, 0.2), 5px 6px 20px 5px rgba(246, 246, 246, 0.19);
}

.shead {
  font-family: "Emilys Candy", serif;
}

.form-label {
  font-family:"Delius", cursive;
  font-size:20px;
}

.form-control {
  width:270px;
}